html{
    height: 100%;
    margin: 0;
   }
body{
	background-image: url("background.png");
	height: 100%;
    margin: 0;
}
ul{
	font-size: 18px;
}
h2{
	font-variant: small-caps;
}
h4{
	font-style:italic;
	text-align: center;
}
a{
	transition: .2s ease-in-out;
}
dt{
	font-weight: bold;
	margin-bottom: 1%;
}
dd{
	margin-bottom: 1%;
}
.a1{
	color: white;
	text-decoration: none;
} 
.a1:hover{
	color: black;
}
.a1_1{
	color: white;
} 
.a1_1:hover{
	color: black;
}
.a2{
	color: green;
}
.a2:hover{
	color: red;
}
.a3{
	text-decoration:none;
	color: #00CC66;
	padding: 2px;
	
}
.a3:hover{
	background-color: #99FFB3;
	border-radius: 5px;
	
}
.a_sub{
	font-size: 20px;
	color: black;
	text-decoration:none;
	padding-bottom:1px;
}
.a_sub:hover{
	color: #00CC66;
	border-bottom: 1px solid  #00CC66;
}
.a_pdf{
	font-size: 20px;
	color: black;
	background:url(pdf-icon.png) no-repeat right;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.a_pdf:hover{
	color: #00CC66;
}
.a_page{
	font-size: 20px;
	color: black;
	background:url(page.png) no-repeat right;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.a_page:hover{
	color: #00CC66;
}
.a_git{
	font-size: 20px;
	color: black;
	background:url(github.png) no-repeat right;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.a_git:hover{
	color: #00CC66;
}
.a_zoom{
	font-size: 20px;
	color: black;
	background:url(zoom.png) no-repeat right;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.a_zoom:hover{
	color: #00CC66;
}
.a_teach {
	text-decoration: none;
	padding:1px;
	border-radius: 5px;
	color:black;
}
.a_teach:hover {
  background-color: #99FFB3;
}
.a_teach_p {
	text-decoration: none;
	padding:3px;
	border: 2px solid black;
	border-radius: 5px;
	color:black;
	font-size: 20px;
}
.a_teach_p:hover {
  background-color: #99FFB3;
  border: 2px solid  #00CC66;
}
.t_cite{
	font-style: italic;
	border-left: 5px double #00CC66;
	width: 40%;
	display: inline-block;
	padding: 3px;
}
.ft {
	color: white;
}
.headtable{
	border-collapse: separate;
	border-spacing: 10px;
	margin-top: 1.5%;
	margin-bottom:-2%;
	border: none;
}
.footertable  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
	color: white;
	padding: 7px 15px 7px 15px;
   }
 .footertable td {
    width: 50%;
   }
.rightcol {  
    text-align: right;
	font-style: italic;
}

.hhd {
	color: white;
	border: 1px solid white;
	width:180px;
	height: 40px;
	border-radius: 10px;
	padding: 1%;
	cursor: pointer;
	transition: .2s ease-in-out;
}
.hhd:hover{
	background-color: #FFFFFF;
	color: black;
	border-color: #000000;
}

.header{
	color: white;
	font-family: Georgia;
	font-size: 20px;
	background-color: #696969;
	width: auto;
	height: auto;
	text-align: center;
	padding-top:1%;
	padding-bottom:3%;
	padding-left:3%;
	padding-right:3%;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	border: 1px solid white;
	margin:5px;
}
.content{min-height:90%;}
.main {
    font-family: Georgia;
	width: 60%;
	height: auto;
	padding: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	position: relative;
	background-color:white;
	border: 1px solid #D3D3D3;
}
.footer{
  
	margin:5px;
	height: auto;
	font-family: Georgia;
	background-color: #696969;
	width: auto;       
	border-top: 1px solid white;
}
.sub{
	border-left: solid #00CC66;
	color: black;
	list-style-type: square;
}
.sub li{
	font-size: 20px;
	margin-bottom: 1em;
	transition: .2s ease-in-out;
}
.sub li:hover{
	color: #00CC66;
}

