body{
	 background-image: url("background.png");
}
ul{
	font-size: 18px;
}
h2{
	font-variant: small-caps;
}
.a1{
	color: white;
	text-decoration: none;
} 
.a1:hover{
	color: black;
}
.a1_1{
	color: white;
} 
.a1_1:hover{
	color: black;
}
.a2{
	color: green;
}
.a2:hover{
	color: red;
}
.a3{
	text-decoration:none;
	color: #00CC66;
	
}
.a3:hover{
	text-decoration: underline;
	background-color: #CCFFCC;
	border-radius: 5px;
	padding: 1px;
}
.a_sub{
	font-size: 20px;
	color: black;
}
.a_sub:hover{
	color: #00CC66;
}
.ft {
	color: white;
}
.headtable{
	border-collapse: separate;
	border-spacing: 10px;
	margin-top: 1.5%;
	margin-bottom:-2%;
	border: none;
}
.footertable  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
	color: white;
	padding:1%;
   }
 .footertable td {
    width: 50%;
   }
.rightcol {  
    text-align: right; 
	font-style: italic;
   }

.hhd {
	color: white;
	border: 1px solid white;
	width:150px;
	height: 40px;
	border-radius: 10px;
	padding: 1%;
	cursor: pointer;
}
.hhd:hover{
	background-color: #FFFFFF;
	color: black;
	border-color: #000000;
}

.header{
	color: white;
	font-family: Georgia;
	font-size: 20px;
	background-color: #696969;
	width: auto;
	height: auto;
	text-align: center;
	padding-top:1%;
	padding-bottom:3%;
	padding-left:3%;
	padding-right:3%;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	border: 1px solid white;
}
.main {
    font-family: Georgia;
	width: 60%;
	height: auto;
	padding: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	position: relative;
	background-color:white;
	border: 1px solid #D3D3D3;
}
.footer{
	font-family: Georgia;
	background-color: #696969;
	height: auto;
	width: auto;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	border-top: 1px solid white;
	vertical-align: middle;
	padding-right: 3%;
}
.sub{
	border-left: solid #00CC66;
}

.sub li{
	font-size: 20px;
}
